/* 
    Document   : RegistrationPage
    Created on : Feb 17, 2013, 5:47:37 PM
    Author     : franks
    Description:
        Purpose of the stylesheet follows.
*/

#anyBody{

			text-align:center; /*For IE6 Shenanigans*/ 

		}

#pagewidth
		{
			background: #FFFFCC;
			width: 950px;
			
			border-radius:30px;
			border-style: solid;
			border-color: #000000;
			boder-width: 1px;
			margin:auto;
			text-align:left;
		}
#header
		{
			border-top-right-radius:28px;
			border-top-left-radius:28px;
			background: #990000;
			color: #FFFCFF;
			height: 100px;
			padding: 10px;
		}

#nav
		{
			background: #CC00CC;
			float: left;
			width: 100%;
			
			border-bottom-left-radius:10px;
			border-bottom-right-radius:10px;
		}

#content
		{
		    background:#dddddd;
			border:2px solid #a1a1a1;			
			height:100%;
			
			margin-left:220px;
			margin-top:40px;
			margin-bottom:20px;
			margin-right:10px;
			
			padding: 20px;
			border-radius:30px;
			
		}
		
		
		form {
			display: table;
			padding: 10px;
			border: thin dotted #7e7e7e;
			background-color: #e1ceb8;
			border-radius:20px;
		}


		div.tableRow {
			display: table-row;
		}
		div.tableRow p {
			display: table-cell;
			vertical-align: top;
			padding: 10px;
		}

		div.tableRow p:first-child {
			text-align: right;
		}
		
		
		
		
#sideNav
		{
		    background:#dddddd;
			border:2px solid #a1a1a1;			
			height:100%;
			
			margin-left:10px;
			margin-top:20px;
			margin-bottom:10px;
			
			
			padding: 20px;
			
			
			width:150px;			
			float:left;			
			border-radius:30px;
			
		}
		


#clear
	{
		clear: both;
	}



#footer
	{   
	    border-radius:30px;
		color: #FFFFFF;
		background: #990000;
		height: 30px;
		padding: 10px;
	}




