/* 
    Document   : virtualCoach
    Created on : Feb 17, 2013, 5:16:56 PM
    Author     : franks
    Description:
        Purpose of the stylesheet follows.
*/

#anyBody{

			text-align:center; /*For IE6 Shenanigans*/ 

		}
#pagewidth
		{
			background: #FFFFCC;
			width: 950px;
			
			border-radius:30px;
			border-style: solid;
			border-color: #000000;
			boder-width: 1px;
			margin:auto;
			text-align:left;
		}
#header
		{
			border-top-right-radius:28px;
			border-top-left-radius:28px;
			background: #990000;
			color: #FFFCFF;
			height: 100px;
			padding: 10px;
		}

#nav
		{
			background: #CC00CC;
			float: left;
			width: 100%;
			
			border-bottom-left-radius:10px;
			border-bottom-right-radius:10px;
		}

#content
		{
		    background:#dddddd;
			border:2px solid #a1a1a1;			
			height:100%;
			
			margin-left:220px;
			margin-top:40px;
			margin-bottom:20px;
			margin-right:10px;
			
			padding: 20px;
			border-radius:30px;
			
		}
#sideNav
		{
		    background:#dddddd;
			border:2px solid #a1a1a1;			
			height:100%;
			
			margin-left:10px;
			margin-top:20px;
			margin-bottom:10px;
			
			
			padding: 20px;
			
			
			width:150px;			
			float:left;			
			border-radius:30px;
			
		}
		
		
		
		
		#navSide{
		
		margin-top:75%;
		
		
		}
		
		
			ul
			{
				list-style-type:none;
				margin:0;
				padding:0;
				}
				a:link,a:visited
				{
				display:block;
				font-weight:bold;
				color:#FFFFFF;
				background-color:#98bf21;
				width:120px;
				text-align:center;
				padding:4px;
				text-decoration:none;
				text-transform:uppercase;
				}
				a:hover,a:active
				{
				background-color:#7A991A;
				}
		
		
		
		


#clear
	{
		clear: both;
	}



#footer
	{   
	    border-radius:30px;
		color: #FFFFFF;
		background: #990000;
		height: 30px;
		padding: 10px;
	}


